* {
  /* `otf-font-awesome` is required to be installed for icons */
  /* font-family: "Noto Sans CJK KR Regular"; */
  font-family: "JetBrains Mono Nerd Font";
  font-size: 12px;
  min-height: 0;
}

window#waybar {
background: transparent;
  background-image: linear-gradient(to left, rgba(155, 23, 36, 0.85) 0%, rgba(25, 23, 146, 0.85) 100%);
  /*    background-color: rgba(43, 48, 59, 0.5); */
  /*    border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
  color: #ffffff;
  transition-property: background-color;
  transition-duration: .5s;
  /* border-radius: 5px; */
  border: 1px;

  /* border-bottom-left-radius: 5px; */
  /* border-bottom-right-radius: 5px; */
  animation: myanimation 8s infinite;
}

/* background: linear-gradient(90deg, rgba(176,11,105,1) 0%, rgba(5,0,255,1) 50%, rgba(0,255,194,1) 100%);  */

@keyframes myanimation {
  0% {background: radial-gradient(circle, rgba(176,11,105,1) 0%, rgba(5,0,255,1) 50%, rgba(0,255,194,1) 100%);}
  25% {background: radial-gradient(circle, rgba(5,0,255,1) 0%,  rgba(0,255,194,1) 50%,  rgba(176,11,105,1) 100%);}
  75% {background: radial-gradient(circle, rgba(0,255,194,1) 0%,  rgba(176,11,105,1)  50%, rgba(5,0,255,1) 100%);}
  100% {background: radial-gradient(circle, rgba(176,11,105,1) 0%, rgba(5,0,255,1) 50%, rgba(0,255,194,1) 100%);}
}

window#waybar.hidden {
  opacity: 0.2;
}

#waybar.empty #window {
  background-color: transparent;
}

#workspaces{
  margin: 2px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: rgba(0,0,0,0.3);
  font-size:10px;
  font-weight: bold;
  /* border-radius: 2px; */

}


#window {
  margin: 2px;
  padding-left: 8;
  padding-right: 8;
  background: transparent;
  font-size:10px;
  font-weight: bold;

  /* border-radius: 2px; */
  animation: myanimation 5s  infinite;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  /* border: none; */
  /* border-radius: 0; */
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  border-top: 2px solid #c9545d;
}

#workspaces button {
  padding: 0 4px;
  /*    background-color: rgba(0,0,0,0.3); */
  color: #ffffff;
  /* border-radius: 2px; */
  border: 1px solid transparent;
  /* border-color: red; */
  margin: 0px 2px;
}

#workspaces button:hover {
    color: rgba(255,0,0,.5);
  border: 2px;
  border-image: linear-gradient(rgba(155, 23, 36, 0.85) 0%, rgba(25, 23, 146, 0.85) 100%);
}

#workspaces button.focused {
  /*    box-shadow: inset 0 -2px #c9545d; */
  background-color: rgba(0,0,0,1);
  color: black;
  border: 2px solid black;
  /* border-radius: 2px; */
}

#workspaces button.urgent {
  background-color: black;
}

#mode {
  background-color: #64727D;
  border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
  margin: 2px;
  padding-left: 4px;
  padding-right: 4px;
  background-color: rgba(0,0,0,0.3);
  color: #ffffff;
  /* border-radius: 2px; */
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 2px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  font-size:10px;
  font-weight: bold;
}

#battery icon {
  color: red;
}

#battery.charging, #battery.plugged {
  color: #ffffff;
  background-color: #26A65B;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.warning:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#network.disconnected {
  background-color: #f53c3c;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

/*

window#waybar.solo {
background-color: #FFFFFF;
}

window#waybar.termite {
background-color: #3F3F3F;
}

window#waybar.chromium {
background-color: #000000;
border: none;
}
 */
